#root {
  margin: auto;
  text-align: center;
}

body {
  background-image: url(mountain.jpg);
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
