.rader {
  display: flex;
  top: 230px;
}

.editButton {
  width: 20px;
  height: 20px;
  right: 0;
  margin-right: 5px;
  padding-top: 5px;
}

.xButton {
  font-size: 20px;
  color: #35363c;
}

.rows {
  border: 1px solid black;
  background-color: white;
  padding-inline: 30px;
  border-radius: 8px;
  font-size: 20px;
  width: 200px;
  margin-right: 10px;
}
